<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>FanSoftStore | @ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_menu");
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">@string.Format("{0} FanSoftStore", DateTime.Now.Year)</span>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @* IN HIDDEN PATH *@
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
